.card__like-button {
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-position: center center;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s linear;
  padding: 0;
}

@media (pointer: fine) {
  .card__like-button:hover {
    opacity: 0.5;
  }
}
